@model Resolv.Web.Models.HoldingCompany
@{
    ViewData["Title"] = "Create Holding Company";
}
<nav aria-label="breadcrumb">
    <ol class="breadcrumb">
        <li class="breadcrumb-item active" aria-current="page">Create Holding Company</li>
        <li class="breadcrumb-item">Create Division</li>
        <li class="breadcrumb-item">Create Assessment Site</li>
    </ol>
</nav>
<h2 class="mb-4">Create Holding Company</h2>
<form asp-action="CreateHoldingCompany" method="post" class="needs-validation" novalidate autocomplete="off">
    <div class="form-group row mb-3">
        <label for="Name" class="col-md-2 col-form-label">Company Name</label>
        <div class="col-md-10">
            <input asp-for="Name" class="form-control" autocomplete="off" />
            <span asp-validation-for="Name" class="text-danger"></span>
        </div>
    </div>
    <div class="form-group row">
        <div class="offset-md-2 col-md-10">
            <button type="submit" class="btn btn-primary">Save</button>
        </div>
    </div>
</form>

<hr />
<h3>Existing Holding Companies</h3>
@if (ViewBag.HoldingCompanies != null)
{
    <table class="table table-bordered">
        <thead>
            <tr>
                <th>Name</th>
                <th>Insert Date</th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            @foreach (var company in ViewBag.HoldingCompanies)
            {
                <tr>
                    <td>@company.Name</td>
                    <td>@company.InsertDate.ToString("dd/MM/yyyy")</td>
                    <td>
                        <a asp-controller="Onboard" asp-action="CreateDivision" asp-route-holdingcompanyuid="@company.Uid"
                            class="btn btn-secondary py-0">Divisions</a>
                    </td>
                </tr>
            }
        </tbody>
    </table>
}